body {
  margin: 0 auto;
  max-width: 1200px;
  background-color: rgb(192, 238, 216);
  font-size: 15px;
}
.render {
  margin: 0 50px 0 50px;
}

.box {
  background-color: beige;
  height: 200px;
  width: 75%;
  overflow-y: scroll;
  margin-top: 2%;
  margin-bottom: 2%;
}

.big-input {
  height: 20%;
  width: 100%;
}
.set-table {
  border-collapse: collapse;
  width: 60%;
}
td {
  vertical-align: top;
  text-align: left;
  padding: 8px;
}
.inner-box {
  margin: 2% 5% 2% 5%;
}
